{% load static %} 

    <!-- Page Second Navigation -->
    <nav class="navbar custom-navbar navbar-expand-md navbar-light bg-primary sticky-top">
        <div class="container">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">                     
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'homepage' %}">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categories
                        </a>
             
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for cat in cats%}
                            <a class="dropdown-item" href="{% url 'category-objs' cat.id %}">{{cat}}</a>
                            {% endfor %}
                        </div>
                       
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- End Of Page Second Navigation -->
                    
    