{% extends "main.html" %}

{% load static %}

{% block content %}

<!-- page-header -->
<header class="page-header"></header>
<!-- end of page header -->

<div class="container">
        <section>
            <div class="feature-posts">
                <a href="#" class="feature-post-item">                       
                    <span>Our Reviews</span>
                </a>
                <a href="#" class="feature-post-item">
                    <img src="{% static 'assets/imgs/img-1.jpg' %}" class="w-100" alt="">
                    <div class="feature-post-caption">Incidunt Quaerat</div>
                </a>
                <a href="#" class="feature-post-item">
                    <img src="{% static 'assets/imgs/img-2.jpg' %}" class="w-100" alt="">
                    <div class="feature-post-caption">Culpa Ducimus</div>
                </a>
                <a href="#" class="feature-post-item">
                    <img src="{% static 'assets/imgs/img-3.jpg' %}" class="w-100" alt="">
                    <div class="feature-post-caption">Temporibus Simile</div>
                </a>
                <a href="#" class="feature-post-item">
                    <img src="{% static 'assets/imgs/img-4.jpg' %}" class="w-100 " alt="">
                    <div class="feature-post-caption">Adipisicing</div>
                </a>
            </div>
        </section>
        <hr>

        <div class="page-container">
            <div class="page-content">
                {% for blog in blogs|slice:":1" %}
                <div class="card">
                    <div class="card-header text-center">
                        <h5 class="card-title">{{blog.title}}</h5> 
                        <small class="small text-muted">{{blog.created_at|date:"F d Y"}} 
                            <span class="px-2">-</span>
                            <a href="#" class="text-muted">{{blog.count}} views</a>
                        </small>
                    </div>
                    <div class="card-body">
                        <div class="blog-media">
                            <a href="{% url 'single-blog' blog.slug %}"><img src="{{blog.image.url}}" alt="" class="w-100"></a>   
                        </div>  
                        <p class="my-3">{{blog.short_about|truncatewords:60}}</p>
                    </div>
                    
                    <div class="card-footer d-flex justify-content-between align-items-center flex-basis-0">
                        <!-- <button class="btn btn-primary circle-35 mr-4"></button> -->

                        <!-- <a href="#" class="text-dark small text-muted">By : Joe Mitchell</a> -->
                        <span style="padding-left: 1000px;" class="text-dark small text-muted">By : {{blog.author.first_name}} {{blog.author.last_name}}</span> 
                    </div>                  
                </div>
                {% endfor %}

                <hr>
                
                <div class="row">   

                    {% for blog in blogs %}
                    <div class="col-lg-6">
                        <div class="card text-center mb-5">
                            <div class="card-header p-0">                                   
                                <div class="blog-media">
                                   <a href="{% url 'single-blog' blog.slug %}"><img src="{{blog.image.url}}" alt="" class="w-100 blog-image-size"></a>         
                                </div>  
                            </div>
                    
                            <div class="card-body px-0">
                                <h5 class="card-title mb-2">{{blog.title}}</h5>    
                                <small class="small text-muted">{{blog.created_at|date:"F d Y"}}
                                    <span class="px-2">-</span>
                                    <a href="#" class="text-muted">{{blog.count}} views</a>
                                </small>
                                <p class="my-2">{{blog.short_about|truncatewords:60}}</p>
                            </div>                 
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock content %} 