{% extends "main.html" %}

{% load static %}

{% block content %}
 <!-- Page Header -->
<header class="page-header page-header-mini">
        <h1 class="title">{{blog.category}}</h1>
        <ol class="breadcrumb pb-0">
        </ol>
</header>

    <!-- End Of Page Header -->

<section class="container">
        <div class="page-container">
            <div class="page-content">
                <div class="card">
                    <div class="card-header pt-0">
                        <h3 class="card-title mb-4">{{blog.title}}</h3>
                        <div class="blog-media mb-4">
                            <img src="{{blog.image.url}}" alt="" class="w-100">
                        </div>  
                        <small class="small text-muted">
                            <a href="#" class="text-muted">BY {{blog.author.first_name}} {{blog.author.last_name}}</a>
                            <span class="px-2"></span>
                            <span>{{blog.created|date:'F d Y'}}</span>
                            <span class="px-2"></span>
                            <a href="#" class="text-muted">{{blog.count}} view{{blog.count|pluralize}}</a>
                        </small>
                    </div>
                    <div class="card-body border-top">
                        <p class="my-3">
                            {{blog.content|safe}}
                        </p> 
                    </div>
                    
                </div> 

                <h6 class="mt-5 text-center">Related Posts</h6>
                <hr>
                <div class="row">                       
                    {% for blog in similar_blogs|slice:":3" %}
                    <div class="col-md-6 col-lg-4 d-none d-lg-block">
                        <div class="card mb-5">
                            <div class="card-header p-0">                                   
                                <div class="blog-media">
                                 <a href="{% url 'single-blog' blog.slug %}"><img src="{% static 'assets/imgs/blog-4.jpg' %}" alt="" class="w-100"> </a>        
                                </div>  
                            </div>
                            <div class="card-body px-0">
                                <h6 class="card-title mb-2">{{blog.title|truncatewords:2}}</h6>   
                                <small class="small text-muted">{{blog.created_at|date:"F d Y"}}  
                                    <span class="px-2">-</span>
                                    <a href="#" class="text-muted">{{blog.count}} view{{blog.count|pluralize}}</a>
                                </small>
                            </div>  
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Sidebar -->
            <div class="page-sidebar">
                <h6 class=" ">Tags</h6>
                {% for tag in blog.tags.all %}
                <a href="javascript:void(0)" class="badge badge-primary m-1">#{{tag}}</a>
                {% endfor %}
            </div>
        </div>
</section>

{% endblock content %}
    
