{% extends "main.html" %}

{% load static %}

{% block content %}
 <!-- Page Header -->
<header class="page-header page-header-mini">
        <h1 class="title">{{blog.category}}</h1>
        <ol class="breadcrumb pb-0">
        </ol>
</header>
    <!-- End Of Page Header -->

<section class="container">
        <div class="page-container">
            <div class="page-content">
                <div class="card">
                    <div class="card-header pt-0">
                        <h3 class="card-title mb-4">{{blog.title}}</h3>
                        <div class="blog-media mb-4">
                            <img src="{{blog.image.url}}" alt="" class="w-100">
                        </div>  
                        <small class="small text-muted">
                            <a href="#" class="text-muted">BY {{blog.author.first_name}} {{blog.author.last_name}}</a>
                            <span class="px-2"></span>
                            <span>{{blog.created|date:'F d Y'}}</span>
                            <span class="px-2"></span>
                            <a href="#" class="text-muted">{{blog.count}} views</a>
                        </small>
                    </div>
                    <div class="card-body border-top">
                        <p class="my-3">
                            {{blog.content|safe}}
                        </p> 
                    </div>
                    
                </div> 

                <h6 class="mt-5 text-center">Related Posts</h6>
                <hr>
                <div class="row">                       
                    <div class="col-md-6 col-lg-4">
                        <div class="card mb-5">
                            <div class="card-header p-0">                                   
                                <div class="blog-media">
                                    <img src="{% static 'assets/imgs/blog-2.jpg' %}" alt="" class="w-100">
                                    <a href="#" class="badge badge-primary">#Placeat</a>        
                                </div>  
                            </div>
                            <div class="card-body px-0">
                                <h6 class="card-title mb-2"><a href="#" class="text-dark">Voluptates Corporis Placeat</a></h6>  
                                <small class="small text-muted">January 20 2019 
                                    <span class="px-2">-</span>
                                    <a href="#" class="text-muted">34 Comments</a>
                                </small>
                            </div>                  
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4">
                        <div class="card mb-5">
                            <div class="card-header p-0">                                   
                                <div class="blog-media">
                                    <img src="{% static 'assets/imgs/blog-3.jpg' %}" alt="" class="w-100">
                                    <a href="#" class="badge badge-primary">#dolores</a>        
                                </div>  
                            </div>
                            <div class="card-body px-0">
                                <h6 class="card-title mb-2"><a herf="#" class="text-dark">Dolorum Dolores Itaque</a></h6>   
                                <small class="small text-muted">January 19 2019 
                                    <span class="px-2">-</span>
                                    <a href="#" class="text-muted">64 Comments</a>
                                </small>
                            </div>      
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 d-none d-lg-block">
                        <div class="card mb-5">
                            <div class="card-header p-0">                                   
                                <div class="blog-media">
                                    <img src="{% static 'assets/imgs/blog-4.jpg' %}" alt="" class="w-100">
                                    <a href="#" class="badge badge-primary">#amet</a>       
                                </div>  
                            </div>
                            <div class="card-body px-0">
                                <h6 class="card-title mb-2">Quisquam Dignissimos</h6>   
                                <small class="small text-muted">January 17 2019 
                                    <span class="px-2">-</span>
                                    <a href="#" class="text-muted">93 Comments</a>
                                </small>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sidebar -->
            <div class="page-sidebar">
                <h6 class=" ">Tags</h6>
                {% for tag in blog.tags.all %}
                <a href="javascript:void(0)" class="badge badge-primary m-1">#{{tag}}</a>
                {% endfor %}
            </div>
        </div>
</section>

{% endblock content %}